apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../../base/metallb
patches:
- patch: |
    - op: replace
      path: /spec/addresses
      value:
        - 172.18.255.200-172.18.255.250
  target:
    kind: IPAddressPool
    name: default-pool
